.Connect{
    @include box_secondary();
}

.Connect{
    h2{
        color: $Green;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        
        input[type=name],
        input[type=email],
        input[type=text],
        input[type=submit]{
            display: block;
        }

        input[type=name],
        input[type=email],
        input[type=text]{
            border: none;
            background: none;
            border-bottom: 2px solid $Mid;
            outline: none;
            height: 4vw;
            margin: 1.5vw auto;
            width: 100%;

            &:focus{
                border-bottom: 2px solid $Primary;
                color: $Primary;
            }
        }

        textarea{
            margin:1.5vw auto;
            width: 100%;
            outline: none;
            border: 2px solid $Mid;
            height: 150px;
            resize: none;
            padding: 1.5vw;
            font-family:'Poppins', sans-serif ;
            font-size: 2vw;
        }

        input[type=submit]{
            margin: 2vw auto;
            width: 100%;
            padding: 2vw;
            border: none;
            border-radius: $BorderRadius;
            background: $Primary;
            color: $Light;
            box-shadow: $LightShadowOnS;
            font-size: 2.5vw;
            transition: all ease 200ms;

            &:hover{
                background: $Glass;
                color: $Dark;
            }
        }


    }
}