.Intro{
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 10vw;
    background-color: $Secondary;
    padding: 50px;
    border-radius: $BorderRadius;
    box-shadow:$LargeShadow;
    h2{
        color:$Primary;
    }
    p{
        color: $Dark;
    }
}