//colors
$Primary:#4392F1;
$Primary_Hover:#a8cbd6;
$Secondary:#d9dcd6;
$Light:#F9F5FF;
$Green:#607744;
$Dark:rgb(56, 55, 55);
$Mid:#454955;

// $Primary:rgb(238, 46, 49);
// $Primary_Hover:rgb(240, 84, 86);
// $Secondary:rgb(252, 220, 77);
// $Light:rgb(236, 235, 243);
// $Dark:rgb(41, 41, 41);
// $Mid:rgb(68, 68, 68);

$GrayedOut:#f9f5ff91;
$Glass:linear-gradient(45deg,transparent,rgba(255, 255, 255, 0.205),transparent);

//fonts
/*
font-family: 'Audiowide', cursive; ***FOR BOLD HEADLINES
font-family: 'Poppins', sans-serif; ***FOR BODY w:400,700 i
font-family: 'Quicksand', sans-serif; ***FOR TINY DETAILS
*/
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    color: $Light;
    line-height: 2.2vw;
    margin-bottom: 1.5vw;
}

li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vw;
}


h1,h2{
    font-family: 'Audiowide', cursive;
    color: $Light;
    
}

h1{
    font-size: 3.5vw;
    color: $Light;
}

h2{
    font-size: 3vw;
}

h3,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: $Light;
}

.tinyDetails{
    font-family: 'Quicksand', sans-serif;
    color: $Light;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    color: $Light;
}

//attributes
$BorderRadius : 1vw;
$LightShadow : 0px 3px 10px rgba(0,0,0,0.3);
$LightShadowOnS :0px 3px 10px #b4b4b4fb;
$LargeShadow : 0px 3px 20px #1a1a1a96;

//mixins
@mixin box_secondary {
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 10vw;
    background-color: $Secondary;
    padding: 50px;
    border-radius: $BorderRadius;
    box-shadow:$LargeShadow;
    h1,h2,h3,h4,h5,h6,
    p,a{
        color: $Dark;
    }
}