//colors
$Primary:rgb(114, 114, 253);
$Secondary:yellow;
$Light:rgb(241, 241, 241);
$Dark:rgb(41, 41, 41);
$Mid:rgb(68, 68, 68);

//fonts
/*
font-family: 'Audiowide', cursive; ***FOR BOLD HEADLINES
font-family: 'Poppins', sans-serif; ***FOR BODY w:400,700 i
font-family: 'Quicksand', sans-serif; ***FOR TINY DETAILS
*/
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vw;
    color: $Light;
    line-height: 3vw;
    margin-top: 1.5vw;
}

h1,h2{
    font-family: 'Audiowide', cursive;
    color: $Light;
    
}

h1{
    font-size: 3.5vw;
    color: $Light;
}

h2{
    font-size: 3vw;
}

h3,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: $Light;
}

.tinyDetails{
    font-family: 'Quicksand', sans-serif;
    color: $Light;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    color: $Light;
}

//attributes
$BorderRadius : 2vw;
$LightShadow : 0px 3px 5px rgba(0,0,0,0.3);
$GlowBorderRadius: 5vw;
$GlowBorderScale: scale(1.09);
$GlowBorderBlur:blur(7px);
$GlowBorderOpacity:40%;