* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*
font-family: 'Audiowide', cursive; ***FOR BOLD HEADLINES
font-family: 'Poppins', sans-serif; ***FOR BODY w:400,700 i
font-family: 'Quicksand', sans-serif; ***FOR TINY DETAILS
*/
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8vw;
  color: #ecebf3;
  line-height: 3vw;
  margin-top: 1.5vw;
}

h1, h2 {
  font-family: "Audiowide", cursive;
  color: #ecebf3;
}

h1 {
  font-size: 3.5vw;
  color: #ecebf3;
}

h2 {
  font-size: 3vw;
}

h3, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ecebf3;
}

.tinyDetails {
  font-family: "Quicksand", sans-serif;
  color: #ecebf3;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  color: #ecebf3;
}

@media all and (max-width: 480px) {
  header #menu-btn {
    font-size: 7vw;
    width: 10%;
  }
  header nav {
    display: none;
  }
  header .logo {
    width: 60% !important;
  }
  header .logo h1 {
    font-size: 5vw;
  }
  header .logo p {
    font-size: 3vw;
  }
  header #menu-btn {
    display: block;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  header #menu-btn {
    font-size: 7vw;
    width: 10%;
  }
  header nav {
    display: none;
  }
  header .logo {
    width: 60% !important;
  }
  header .logo h1 {
    font-size: 5vw;
  }
  header .logo p {
    font-size: 3vw;
  }
  header #menu-btn {
    display: block;
  }
  header .nav-menu-close,
header .nav-menu-open {
    border-radius: 0;
    width: 100vw;
  }
  header .nav-menu-close ul li a,
header .nav-menu-open ul li a {
    font-size: 3.5vw;
  }
  header .nav-menu-close {
    transition: all 200ms ease;
    transform: translateX(100%);
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  header #menu {
    display: none;
  }
}
@media all and (min-width: 1025px) {
  header #menu {
    display: none;
  }
}
.Intro {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 10vw;
  background-color: #fcdc4d;
  padding: 50px;
  border-radius: 2vw;
  box-shadow: 0px 10px 30px #272727;
}
.Intro h2 {
  color: #ee2e31;
}
.Intro p {
  color: #292929;
}
.Intro img {
  float: right;
  width: 25vw;
  height: auto;
  border-radius: 4vw;
  border: 1vw solid #ee2e31;
  box-shadow: 0px 10px 30px #272727;
  position: relative;
  left: 12vw;
  bottom: 7vw;
  margin-left: -5vw;
  margin-bottom: -5vw;
  shape-outside: circle(50%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #ee2e31;
  color: #ecebf3;
  position: relative;
  z-index: 1;
  width: 100vw;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
header .logo {
  width: 40%;
}
header nav {
  width: 50%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  border-bottom: 0px solid #ecebf3;
  position: relative;
  cursor: pointer;
}
header nav ul li::after {
  content: "";
  background: #ecebf3;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 100%;
  transform: scale(0);
  transition: all 200ms ease;
}
header nav ul li:hover::after {
  transform: scale(1);
}

#menu-btn {
  display: none;
  background: none;
  color: #ecebf3;
  border: none;
  font-size: 3vw;
  cursor: pointer;
  outline: none;
}

.nav-menu-close {
  transform: translateX(100%);
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  top: 100%;
  right: 0px;
  width: 300px;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  background: #ecebf3;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
  z-index: 2;
}
.nav-menu-close ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.nav-menu-close ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60%;
}
.nav-menu-close ul a {
  color: #292929;
  padding: 10px;
  font-size: 6vw;
}
.nav-menu-close ul a:hover {
  display: block;
  background: #292929;
  color: #ecebf3;
  touch-action: none;
}

.nav-menu-open {
  transform: translateX(0);
  transition: all linear 150ms;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  top: 100%;
  right: 0px;
  width: 70vw;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  background: #ecebf3;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
  z-index: 2;
}
.nav-menu-open ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.nav-menu-open ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60%;
}
.nav-menu-open ul a {
  color: #292929;
  padding: 10px;
  font-size: 6vw;
}
.nav-menu-open ul a:hover {
  display: block;
  background: #292929;
  color: #ecebf3;
  touch-action: none;
}

.Skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}
.Skill .Skill-info h3 {
  text-transform: capitalize;
  margin-bottom: 1vw;
}
.Skill .Skill-info input {
  -webkit-appearance: none;
  width: 30vw;
  overflow: hidden;
  box-shadow: 0px 3px 5px #a38f32;
}
.Skill .Skill-info input::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.Skill .Skill-info input:focus {
  outline: none;
}
.Skill .Skill-info input::-ms-track {
  background-color: transparent;
  background: transparent;
  color: transparent;
}
.Skill .Skill-info input::-webkit-slider-thumb {
  height: 2vw;
  width: 1vw;
  background: #444444;
  box-shadow: 30vw 0 0 30vw #292929;
}
.Skill .Skill-info input::-webkit-slider-runnable-track {
  background: #ee2e31;
}
.Skill i {
  font-size: 6vw;
}

.Skills {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 10vw;
  background-color: #fcdc4d;
  padding: 50px;
  border-radius: 2vw;
  box-shadow: 0px 10px 30px #272727;
}
.Skills h1, .Skills h2, .Skills h3, .Skills h4, .Skills h5, .Skills h6,
.Skills p, .Skills a {
  color: #292929;
}
.Skills h2 {
  margin-bottom: 4vw;
  color: #ee2e31;
}

footer {
  background: #ee2e31;
  margin-top: 10vw;
  height: 10vh;
  padding: 2vw;
}
footer h3 {
  font-family: "Quicksand", sans-serif;
}

.About {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 10vw;
  background-color: #fcdc4d;
  padding: 50px;
  border-radius: 2vw;
  box-shadow: 0px 10px 30px #272727;
}
.About h1, .About h2, .About h3, .About h4, .About h5, .About h6,
.About p, .About a {
  color: #292929;
}

body {
  position: relative;
  background-color: #444444;
  z-index: 0;
}

/*# sourceMappingURL=index.css.map */
