* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*
font-family: 'Audiowide', cursive; ***FOR BOLD HEADLINES
font-family: 'Poppins', sans-serif; ***FOR BODY w:400,700 i
font-family: 'Quicksand', sans-serif; ***FOR TINY DETAILS
*/
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6vw;
  color: #F9F5FF;
  line-height: 2.2vw;
  margin-bottom: 1.5vw;
}

li {
  font-family: "Poppins", sans-serif;
  font-size: 1.4vw;
}

h1, h2 {
  font-family: "Audiowide", cursive;
  color: #F9F5FF;
}

h1 {
  font-size: 3.5vw;
  color: #F9F5FF;
}

h2 {
  font-size: 3vw;
}

h3, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #F9F5FF;
}

.tinyDetails {
  font-family: "Quicksand", sans-serif;
  color: #F9F5FF;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  color: #F9F5FF;
}

@media all and (max-width: 480px) {
  p {
    font-family: "Poppins", sans-serif;
    font-size: 3.8vw;
    color: #F9F5FF;
    line-height: 4.5vw;
    margin-bottom: 1.5vw;
  }

  li {
    font-family: "Poppins", sans-serif;
    font-size: 1.4vw;
  }

  h1, h2 {
    font-family: "Audiowide", cursive;
    color: #F9F5FF;
  }

  h1 {
    font-size: 5vw !important;
    color: #F9F5FF;
  }

  h2 {
    font-size: 4.5vw !important;
  }

  h3, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #F9F5FF;
  }

  .tinyDetails {
    font-family: "Quicksand", sans-serif;
    color: #F9F5FF;
  }

  a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    color: #F9F5FF;
  }

  header #menu-btn {
    font-size: 7vw;
    width: 10%;
  }
  header nav {
    display: none;
  }
  header .logo {
    width: 60% !important;
  }
  header .logo h1 {
    font-size: 5vw;
  }
  header .logo p {
    font-size: 3vw;
  }
  header #menu-btn {
    display: block;
  }
  header #menu ul li:first-child {
    display: none;
  }

  .Intro {
    position: relative;
    width: 90% !important;
    margin: auto;
    margin-top: 25vw !important;
    background-color: #d9dcd6;
    padding: 50px;
    padding-top: 35vw !important;
    border-radius: 1vw;
    box-shadow: 0px 3px 20px #1a1a1a96;
  }
  .Intro h2 {
    color: #607744;
    margin-bottom: 2vw;
  }
  .Intro p {
    color: #383737;
    margin-bottom: 5vw;
  }
  .Intro .Intro_Read_More {
    background-color: #4392F1;
    padding: 2vw 5vw;
    border-radius: 1vw;
    box-shadow: 0px 3px 10px #b4b4b4fb;
    color: #F9F5FF;
    transition: all ease 200ms;
  }
  .Intro .Intro_Read_More:hover {
    background-color: transparent;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.205), transparent);
    color: #383737;
  }
  .Intro img {
    border-radius: 1.2vw;
    width: 100%;
    height: auto;
  }
  .Intro div {
    float: none !important;
    width: 50vw !important;
    background-color: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.205), transparent);
    padding: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 1.5vw;
    box-shadow: 0px 3px 20px #1a1a1a96;
    position: absolute !important;
    left: 28% !important;
    bottom: 78% !important;
    margin-left: -5vw;
    margin-bottom: -5vw;
    shape-outside: circle(50%);
  }
  .Intro p {
    margin-bottom: 8vw !important;
  }
  .Intro .Intro_Read_More {
    background-color: #4392F1;
    padding: 3vw 10vw !important;
    border-radius: 1vw;
    box-shadow: 0px 3px 10px #b4b4b4fb;
    color: #F9F5FF;
    font-size: 4vw;
    transition: all ease 200ms;
  }
  .Intro .Intro_Read_More:hover {
    background-color: transparent;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.205), transparent);
    color: #383737;
  }

  .Skills {
    width: 90% !important;
  }
  .Skills i {
    font-size: 9vw !important;
    position: relative !important;
    top: 3.5vw;
  }

  footer {
    background: #4392F1;
    margin-top: 10vw;
    padding: 2vw;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  footer .footer-name {
    border-bottom: 3px solid #F9F5FF;
    margin-top: 20px;
    margin-bottom: 10px !important;
  }
  footer .footer-name h2 {
    letter-spacing: 3vw !important;
  }
  footer .footer-social {
    display: flex;
    justify-self: end;
    align-items: center;
    width: 60vw !important;
    justify-content: space-between;
  }
  footer .footer-social a {
    font-size: 46px !important;
  }
  footer .footer-copy {
    text-align: center;
    border-top: 3px solid #F9F5FF !important;
    padding-top: 0.5vw;
  }
  footer .footer-copy p {
    font-size: 3vw !important;
    margin-bottom: 0;
  }
  footer .footer-copy span {
    color: #F9F5FF;
    font-family: "Poppins", sans-serif;
    font-size: 2.4vw !important;
  }

  .About {
    width: 90% !important;
  }
  .About li {
    font-size: 3vw;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  header #menu-btn {
    font-size: 7vw;
    width: 10%;
  }
  header nav {
    display: none;
  }
  header .logo {
    width: 60% !important;
  }
  header .logo h1 {
    font-size: 5vw;
  }
  header .logo p {
    font-size: 3vw;
  }
  header #menu-btn {
    display: block;
  }
  header .nav-menu-close,
header .nav-menu-open {
    border-radius: 0;
    width: 100vw;
  }
  header .nav-menu-close ul li a,
header .nav-menu-open ul li a {
    font-size: 3.5vw;
  }
  header .nav-menu-close {
    transition: all 200ms ease;
    transform: translateX(100%);
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  header #menu {
    display: none;
  }
}
@media all and (min-width: 1025px) {
  header #menu {
    display: none;
  }
}
.Intro {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 10vw;
  background-color: #d9dcd6;
  padding: 50px;
  border-radius: 1vw;
  box-shadow: 0px 3px 20px #1a1a1a96;
}
.Intro h2 {
  color: #607744;
  margin-bottom: 2vw;
}
.Intro p {
  color: #383737;
  margin-bottom: 5vw;
}
.Intro .Intro_Read_More {
  background-color: #4392F1;
  padding: 2vw 5vw;
  border-radius: 1vw;
  box-shadow: 0px 3px 10px #b4b4b4fb;
  color: #F9F5FF;
  transition: all ease 200ms;
}
.Intro .Intro_Read_More:hover {
  background-color: transparent;
  background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.205), transparent);
  color: #383737;
}
.Intro img {
  border-radius: 1.2vw;
  width: 100%;
  height: auto;
}
.Intro div {
  float: right;
  width: 25vw;
  background-color: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.205), transparent);
  padding: 0.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 1.5vw;
  box-shadow: 0px 3px 20px #1a1a1a96;
  position: relative;
  left: 12vw;
  bottom: 10vw;
  margin-left: -5vw;
  margin-bottom: -5vw;
  shape-outside: circle(50%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #4392F1;
  color: #F9F5FF;
  position: relative;
  z-index: 1;
  width: 100vw;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
header .logo {
  width: 40%;
}
header .logo p {
  pointer-events: none;
}
header nav {
  width: 50%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  border-bottom: 0px solid #F9F5FF;
  position: relative;
  cursor: pointer;
}
header nav ul li::after {
  content: "";
  background: #F9F5FF;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 100%;
  transform: scale(0);
  transition: all 200ms ease;
}
header nav ul li:first-child::after {
  content: "These part will be added";
  background: #F9F5FF;
  font-family: "Quicksand", sans-serif;
  height: auto;
  color: #383737;
  width: 150%;
  position: absolute;
  padding: 2vw;
  text-align: center;
  border-radius: 1vw;
  left: -50%;
  top: 120%;
  transition: all 200ms ease;
}
header nav ul li:first-child a {
  color: #f9f5ff91;
}
header nav ul li:hover::after {
  transform: scale(1);
}

#menu-btn {
  display: none;
  background: none;
  color: #F9F5FF;
  border: none;
  font-size: 3vw;
  cursor: pointer;
  outline: none;
}

.nav-menu-close {
  transform: translateX(100%);
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  top: 100%;
  right: 0px;
  width: 300px;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  background: #F9F5FF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
  z-index: 2;
}
.nav-menu-close ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.nav-menu-close ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60%;
}
.nav-menu-close ul a {
  color: #383737;
  padding: 10px;
  font-size: 6vw;
}
.nav-menu-close ul a:hover {
  display: block;
  background: #383737;
  color: #F9F5FF;
  touch-action: none;
}

.nav-menu-open {
  transform: translateX(0);
  transition: all linear 150ms;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  top: 100%;
  right: 0px;
  width: 70vw;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  background: #F9F5FF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
  z-index: 2;
}
.nav-menu-open ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.nav-menu-open ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60%;
}
.nav-menu-open ul a {
  color: #383737;
  padding: 10px;
  font-size: 6vw;
}
.nav-menu-open ul a:hover {
  display: block;
  background: #383737;
  color: #F9F5FF;
  touch-action: none;
}

.Skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}
.Skill i {
  color: #383737;
}
.Skill .Skill-info h3 {
  text-transform: capitalize;
  margin-bottom: 1vw;
}
.Skill .Skill-info input {
  -webkit-appearance: none;
  width: 30vw;
  overflow: hidden;
  box-shadow: 0px 3px 10px #b4b4b4fb;
}
.Skill .Skill-info input::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.Skill .Skill-info input:focus {
  outline: none;
}
.Skill .Skill-info input::-ms-track {
  background-color: transparent;
  background: transparent;
  color: transparent;
}
.Skill .Skill-info input::-webkit-slider-thumb {
  height: 2vw;
  width: 1vw;
  background: #454955;
  box-shadow: 30vw 0 0 30vw #383737;
}
.Skill .Skill-info input::-webkit-slider-runnable-track {
  background: #4392F1;
}
.Skill i {
  font-size: 6vw;
}

.Skills {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 10vw;
  background-color: #d9dcd6;
  padding: 50px;
  border-radius: 1vw;
  box-shadow: 0px 3px 20px #1a1a1a96;
}
.Skills h1, .Skills h2, .Skills h3, .Skills h4, .Skills h5, .Skills h6,
.Skills p, .Skills a {
  color: #383737;
}
.Skills h2 {
  margin-bottom: 4vw;
  color: #607744;
}

footer {
  background: #4392F1;
  margin-top: 10vw;
  padding: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1vw;
  align-items: center;
}
footer .footer-social {
  display: flex;
  justify-self: end;
  align-items: center;
  width: 20vw;
  justify-content: space-between;
}
footer .footer-social a {
  font-size: 3.5vw;
}
footer .footer-copy {
  grid-column: 1/3;
  text-align: center;
  border-top: 2px solid #F9F5FF;
  padding-top: 0.5vw;
}
footer .footer-copy p {
  font-size: 1.4vw;
  margin-bottom: 0;
}
footer .footer-copy span {
  color: #F9F5FF;
  font-family: "Poppins", sans-serif;
  font-size: 1.4vw;
}

.About {
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 10vw;
  background-color: #d9dcd6;
  padding: 50px;
  border-radius: 1vw;
  box-shadow: 0px 3px 20px #1a1a1a96;
}
.About h1, .About h2, .About h3, .About h4, .About h5, .About h6,
.About p, .About a {
  color: #383737;
}
.About h2 {
  color: #607744;
  margin-bottom: 2vw;
}
.About h3 {
  margin-bottom: 0.8vw;
}
.About ul {
  margin-left: 5vw;
}
.About div {
  margin-bottom: 2vw;
}

body {
  position: relative;
  background-color: #454955;
  z-index: 0;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/*# sourceMappingURL=index.css.map */
