@import './global';
@import './variables';
@import './mediaQueries';
//components
@import './Home';
@import './Intro';
@import './Header';
@import './Skill';
@import './Skills';
@import './Footer';

body{
    position: relative;
    background: $Mid;
    z-index: 0;
}

