@import './global';
@import './variables';
@import './mediaQueries';
//components
@import './Home';
@import './Intro';
@import './Header';
@import './Skill';
@import './Skills';
@import './Footer';
@import './About';

body{
    position: relative;
    background-color: $Mid;
    z-index: 0;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}

